<% content_for :title do  %>
    <h1 class="ui header">
        <%= current_institution.name %>
        <div class="sub header">
            Institution profile and job seeker listing
        </div>
    </h1>
<% end %>

<div class="ui grid">
    <div class="ui four wide column">
        <div class="ui segment">
            <h2>Institution info</h2>
            <p><%= current_institution.name %></p>
            <p>Email: <%= current_institution.email %></p>
            <p><%= link_to 'Edit information', edit_institution_registration_path, class: 'ui button' %></p>
        </div>
    </div>



    <div class="ui twelve wide column">
        <div class="ui segment">
            <h2>Job seekers</h2>
            <% if current_institution.seekers.empty? %>
                <p>
                    No seekers at the moment.
                </p>
            <% else %>
                <% current_institution.seekers.each do |seeker| %>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header"><%= link_to seeker.name, institution_seeker_path(seeker) %></div>
                            <div class="meta">Created <%= time_ago_in_words seeker.created_at %> ago</div>
                            <div class="description">
                                <p>Languages:
                                    <% seeker.language_list.each do |l| %>
                                        <a class="ui red label"><%= l %></a>
                                    <% end %>
                                </p>

                                <p>Skills:
                                    <% seeker.skill_list.each do |s| %>
                                        <a class="ui blue label"><%= s %></a>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated">
                                <i class="phone icon"></i>
                                <%= seeker.phone %>
                            </span>
                            <span class="right floated">
                                <i class="map icon"></i>
                                <%= seeker.city %>
                            </span>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <%= link_to 'Register a job seeker', new_institution_seeker_path, class: 'ui button primary' %>
        </div>
    </div>
</div>
