<div class="field">
  <%= f.label      :name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label      :country %><br />
  <%= f.text_field :country, value: 'Portugal' %>
</div>

<div class="field">
  <%= f.label      :city %><br />
  <%= f.text_field :city, value: 'Lisbon' %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
