<h1><%= @seeker.name %></h1>
<p><%= @seeker.city %>, <%= @seeker.country %></p>
<p>Phone: <%= @seeker.phone %></p>

<p>
  Languages:
  <% @seeker.language_list.each do |lang| %>
    <span class="tag"><%= lang %></span>
  <% end %>
</p>
<p>
  Skills: <% @seeker.skill_list.each do |skill| %>
    <span class="tag"><%= skill %></span>
  <% end %>
</p>

<p><%= link_to "edit", edit_institution_seeker_path(@seeker) %></p>

<% if institution_signed_in? && @seeker.matching_jobs.any? %>
  <h2>Matching Jobs</h2>
  <% @seeker.matching_jobs.each do |job| %>
    <li>
      <%= link_to job.title, job %>
      <% job.language_list.each do |lang| %>
        <span class="tag"><%= lang %></span>
      <% end %>
      <% job.skill_list.each do |skill| %>
        <span class="tag"><%= skill %></span>
      <% end %>
    </li>
  <% end %>
<% end %>
