<% if any_filters_applied? %>
  <a class="ui labeled icon button" href="<%= jobs_path %>">
    <i class="erase icon"></i>
    Clear filters
  </a>
<% end %>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to job.title, job %>
      @
      <%= link_to job.company.name, request.query_parameters.merge(company_id: job.company_id) %>
      -

      <% job.language_list.each do |lang| %>
        <%= link_to lang, request.query_parameters.merge(language: lang), class: 'ui label' %>
      <% end %>

      <% job.skill_list.each do |skill| %>
        <%= link_to skill, request.query_parameters.merge(skill: skill), class: 'ui label' %>
      <% end %>
    </li>
  <% end %>
</ul>
