<% content_for :title do  %>
    <h1 class="ui header">
        <%= @job.title %> at <%= @job.company.name %>
        <div class="sub header">
            View job details and possible matches
        </div>
    </h1>
<% end %>

<div class="ui container segment">
    <h2>Details</h2>
    <p><%= @job.city %>, <%= @job.country %></p>
    <p><%= @job.description %></p>
    <p>Posted <%= time_ago_in_words @job.created_at %></p>
    <p>
        Languages:
        <% @job.language_list.each do |lang| %>
            <span class="tag"><%= lang %></span>
        <% end %>
    </p>
    <p>
        Skills: <% @job.skill_list.each do |skill| %>
        <span class="tag"><%= skill %></span>
        <% end %>
    </p>

    <%= link_to "Edit details", edit_job_path, class: 'ui button' %>
    <%= link_to "All jobs by #{@job.company.name}", company_jobs_path(@job.company), class: 'ui button' %>
    <%= link_to "All jobs", jobs_path, class: 'ui button' %>

</div>

<% if institution_signed_in? && @job.at_least_one_match_for_institution(current_institution) %>
    <div class="ui container segment">
        <h2>Matching Candidates</h2>
        <% @job.at_least_one_match_for_institution(current_institution).each do |seeker| %>
            <div class="ui fluid card">
                <div class="content">
                    <div class="header"><%= link_to seeker.name, institution_seeker_path(seeker) %></div>
                    <div class="meta">Created <%= time_ago_in_words seeker.created_at %> ago</div>
                    <div class="description">
                        <p>Languages:
                            <% seeker.language_list.each do |l| %>
                                <a class="ui red label"><%= l %></a>
                            <% end %>
                        </p>

                        <p>Skills:
                            <% seeker.skill_list.each do |s| %>
                                <a class="ui blue label"><%= s %></a>
                            <% end %>
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <span class="left floated">
                        <i class="phone icon"></i>
                        <%= seeker.phone %>
                    </span>
                    <span class="right floated">
                        <i class="map icon"></i>
                        <%= seeker.city %>
                    </span>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
