<% content_for :title do  %>
    <h1 class="ui header">
        <%= current_company.name %>
        <div class="sub header">
            Company profile and available job postings
        </div>
    </h1>
<% end %>

<div class="ui grid">
    <div class="ui four wide column">
        <div class="ui segment">
            <h2>Company info</h2>
            <%= image_tag current_company.logo_url %>
            <p><%= link_to current_company.url, current_company.url %></p>
            <p><%= current_company.description %></p>
            <p>Email: <%= current_company.email %></p>
            <p>Phone: <%= current_company.phone %></p>
            <p>Code: <%= current_company.code %></p>
            <p><%= link_to 'edit', edit_company_registration_path %></p>
        </div>
    </div>

    <div class="ui twelve wide column">
        <div class="ui segment">
            <h2>Jobs</h2>
            <% if current_company.jobs.empty? %>
                <p>
                    No active job postings.
                </p>
            <% else %>
                <% current_company.jobs.each do |job| %>
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header"><%= link_to job.title, job %></div>
                            <div class="meta">Created <%= time_ago_in_words job.created_at %> ago</div>
                            <div class="description">
                                <%= job.description %>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated">
                                <i class="check icon"></i>
                                <%= rand(250) %> Vacancies
                            </span>
                            <span style="margin-left: 1em;" class="right floated">
                                <i class="map icon"></i>
                                <%= job.city %>
                            </span>

                            <span class="right floated">
                                <i class="write icon"></i>
                                <%= job.skill_list.join(", ") %>
                            </span>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <%= link_to 'Add a job', new_job_path, class: 'ui button primary' %>
        </div>
    </div>
</div>
