<%= link_to 'log out', destroy_company_session_path, method: :delete %><br>
<h1><%= current_company.name %></h1>
<%= image_tag current_company.logo_url %>
<p><%= link_to current_company.url, current_company.url %></p>
<p><%= current_company.description %></p>
<p>Email: <%= current_company.email %></p>
<p>Phone: <%= current_company.phone %></p>
<p>Code: <%= current_company.code %></p>
<p><%= link_to 'edit', edit_company_registration_path %></p>

Jobs:<br>
<ul>
  <% current_company.jobs.each do |job| %>
    <li><%= link_to job.title, job %></li>
  <% end %>
</ul>
<br>
<%= link_to '+ job', new_job_path %>
