<div class="fields">
    <div class="eight wide required field">
        <%= f.label      :name %>
        <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="eight wide required field">
        <%= f.label      :phone %>
        <%= f.text_field :phone %>
    </div>
</div>

<div class="field">
    <%= f.label      :url %>
    <%= f.text_field :url %>
</div>

<div class="field">
    <%= f.label     :description %>
    <%= f.text_area :description %>
</div>
