<% content_for :title do  %>
    <h1 class="ui header">
        Institution sign up
        <div class="sub header">
            Sign up today to find job postings.
        </div>
    </h1>
<% end %>

<div class="ui container segment fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui large form'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="required field">
            <%= f.label      :name %>
            <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="required field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div class="required field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="required field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="required field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>I agree to the Terms and Conditions</label>
            </div>
        </div>

        <%= f.submit "Sign up", class: 'ui button' %>
    <% end %>
</div>
