<!DOCTYPE html>
<html>
    <head>
        <title>Jobs For Good</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <style type="text/css">
         body {
             background-color: #DADADA;
         }
         .ui.menu .item img.logo {
             margin-right: 1.5em;
         }
         .main.container {
             <% if content_for? :title %>
             margin-top: 2em;
             <% else %>
             margin-top: 7em;
             <% end %>
         }
         .title.container {
             margin-top: 3em;
             background-color: #FFFFFF;
             padding: 2em 0;
         }
         .wireframe {
             margin-top: 2em;
         }
         .ui.footer.segment {
             margin: 5em 0em 0em;
             padding: 5em 0em;
         }
        </style>
    </head>

    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/jobs" class="header item">
                    Jobs for Good
                </a>
                <% if institution_signed_in? %>
                  <%= link_to current_institution.name, institution_path, class: 'item' %>
                  <%= link_to 'Add Job Seeker', new_institution_seeker_path, class: 'item' %>
                <% elsif company_signed_in? %>
                  <%= link_to current_company.name, company_path, class: 'item' %>
                  <%= link_to 'Add Job', new_job_path, class: 'item' %>
                <% end %>
                <div class="right item">
                  <% if signed_in? %>
                    <%= link_to 'Sign Out', sign_out_path, method: :delete %> <br>
                  <% else %>
                    <a href="<%= new_institution_session_path %>" class="ui inverted button">Institutions Sign In</a>
                    <a href="<%= new_company_session_path %>" class="ui inverted button" style="margin-left: 0.5em;">Companies Sign In</a>
                  <% end %>
                </div>
            </div>
        </div>

        <div class="ui fluid container">
            <% if content_for? :title %>
            <div class="ui title fluid container">
                <div class="ui container">
                    <%= yield :title %>
                </div>
            </div>
            <% end %>

            <div class="ui main container">
                <% if notice %>
                    <div class="ui info message">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= notice %>
                        </div>
                    </div>
                <% end %>

                <% if alert %>
                    <div class="ui negative message">
                        <i class="close icon"></i>
                        <div class="header">
                            <%= alert %>
                        </div>
                    </div>
                <% end %>

                <%= yield %>
            </div>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
</html>
