<!DOCTYPE html>
<html>
    <head>
        <title>Jobs For Good</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <style type="text/css">
         body {
             background-color: #DADADA;
         }
         .ui.menu .item img.logo {
             margin-right: 1.5em;
         }
         .main.container {
             margin-top: 7em;
         }
         .wireframe {
             margin-top: 2em;
         }
         .ui.footer.segment {
             margin: 5em 0em 0em;
             padding: 5em 0em;
         }
        </style>
    </head>

    <body>

        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    Jobs for Good
                </a>
                <a href="#" class="item">Home</a>
                <div class="right item">
                    <a class="ui inverted button">Resettlement Agencies Sign In</a>
                    <a class="ui inverted button" style="margin-left: 0.5em;">Companies Sign In</a>
                </div>
            </div>
        </div>


        <div class="ui main container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <%= yield %>
        </div>

        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" href="#">Site Map</a>
                    <a class="item" href="#">Contact Us</a>
                    <a class="item" href="#">Terms and Conditions</a>
                    <a class="item" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
</html>
